<!DOCTYPE html>
<html lang="eng"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Login</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('login')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Página de Login:</h1>

        <div class="card card-body">
            <div>

                <div class="alert alert-danger" th:if="${param.error}">
                    <h2>E-mail ou Senha Incorreta!!</h2>
                </div>
                
                <form th:action="@{/login}" method="post">

                    <div class="form-group">
                        <label for="email" class="form-control-label">Email:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-at"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                   id="email" name="username"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label">Senha:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock show-password-toggle"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control password my-password-input"
                                   id="password" name="password"/>
                            <div class="input-group-append">
                                <span class="input-group-text my-append-eye">
                                    <i class="far fa-eye show-password"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <center><input type="submit" value="Confirmar" class="btn btn-primary"/></center>
                </form>
            </div>
        </div>

        <div class="card-footer">
            <div class="row justify-content-start">
                <div class="col-12 col-md-3 col-sm-6 my-2">Contas Testes:</div>
				<!-- Usuário com papel de Administrador -->
                <div class="col-12 col-md-2 col-sm-6">
                    <input type="submit" value="Administrador" class="btn btn-secondary btn-block my-2"
                           id="demo-admin-btn"/>
                </div>
                <!-- Usuário com papel de Colaborador  -->
                <div class="col-12 col-md-2 col-sm-6">
                    <input type="submit" value="Colaborador" class="btn btn-secondary btn-block my-2"
                           id="demo-user-btn"/>
                </div>
                <!-- Usuário com papel de GameMaster -->
                <div class="col-12 col-md-2 col-sm-6">
                    <input type="submit" value="Game Master" class="btn btn-secondary btn-block my-2"
                           id="demo-gamemaster-btn"/>
                </div>
              
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

<!--Mostrar senha quando mouse passar no icone do olho-->
<!--Contas Demos-->
<script src="js/main.js"></script>

</body>
</html>