<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
      
      <head>
      		<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
    		<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    		<title>Atualizar Avatar</title>
      </head>
      		
      <body>
      		<form action="/upload" method="post" enctype="multipart/form-data">
      			<input type="file" name="files" multiple>
      			<input type="submit" value="Upload files"></input>
      		</form>
      </body>
      
</html>