<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Editar Perfil</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('create-new-task')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Editar Cadastro</h1>

        <div class="card card-body">

            <form th:action="@{'/user/edit/'+ ${user.id}}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <!-- <input type="hidden" th:field="*{email}"/> -->
                <input type="hidden" th:field="*{password}"/>
                <input type="hidden" th:field="*{experience}"/>
                <input type="hidden" th:field="*{points}"/>
				<input type="hidden" th:field="*{photo}"/>
				
                <!--Nome da Pessoa-->
                <div class="form-group">
                    <label for="name" class="form-control-label">Seu Nome Completo:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-pen"></i></span>
                        </div>
                        <input type="text" class="form-control"
                               th:field="*{name}" id="name"/>
                    </div>
                    <div class="text text-danger"
                         th:if="${#fields.hasErrors('name')}" th:errors="*{name}">

                    </div>
                </div>
              
                <!--Email da Pessoa-->
                <div class="form-group">
                    <label for="email" class="form-control-label">Seu E-mail:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-pen"></i></span>
                        </div>
                        <input type="text" class="form-control"
                               th:field="*{email}" id="email"/>
                    </div>
                    <div class="text text-danger"
                         th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    </div>
                </div>

                <input type="submit" value="Confirmar" class="btn btn-primary"/>
                <button type="reset" class="btn btn-outline-primary pull-right ml-3">Restaurar</button>
                <a href="/users" type="reset" class="btn btn-outline-primary pull-right ml-3">Cancelar</a>
            </form>
        </div>
    </div>
</main>


<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>