<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Lista de Itens</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('items-list')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Itens da Loja
        	 <span sec:authorize="hasAnyRole('ROLE_GAMEMASTER')">
                <a href="/item/create" class="btn btn-outline-info btn-lg float-right">Criar uma Novo Item</a>
            </span> 
        </h1>
		
        <div class="card card-body">
        	<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
			  	<span th:text="${errorMessage}"></span>
			</div>
        	<div th:if="${successMessage}" class="alert alert-success" role="alert">
			  	<span th:text="${successMessage}"></span>
			</div>
        
            <table id="sortableTable" class="my-tab table table-hover text-center"
                   style="table-layout: fixed; width: 100%;">

                <thead class="table-primary">
                <tr>
                    <th style="width:20%" class="text-left">Nome</th>
                    <th style="width:44%" class="text-left">Descrição</th>
                    <th style="width:10%" class="text-left">Custo</th>
                    <th style="width:26%" class="d-none d-lg-table-cell" colspan="3">Ações</th>
                </tr>

                </thead>

                <tbody>

                <tr th:each="t : ${items}">          
                    <!--Nome do Item-->
                    <td th:text="${t.name}" class="d-none d-lg-table-cell"></td>
                    
                    <!--Descrição do Item -->
                    <td th:text="${t.description}" class="d-none d-lg-table-cell"></td>
                    
                    <!--Custo do Item -->
                    <td th:text="${t.cost}" class="d-none d-lg-table-cell"></td>
                    
                     <!--botão Comprar-->
                    <td class="d-none d-lg-table-cell">
                        <a th:href="${'/item/buy/' + t.id}" class="btn btn-outline-warning btn-sm">Comprar</a>
                    </td>
                    
                    <!--botão editar-->
                    <td  class="d-none d-lg-table-cell">
                        <a sec:authorize="hasAnyRole('ROLE_GAMEMASTER')" th:href="${'/item/edit/' + t.id}" class="btn btn-outline-success btn-sm">Editar</a>
                    </td>

                    <!--botão deletar-->
                    <td class="d-none d-lg-table-cell">
                        <a sec:authorize="hasAnyRole('ROLE_GAMEMASTER')" data-toggle="modal" data-target="#modal-delete"
                           th:attr="data-target='#modal-delete'+${t.id}"
                           th:href="${'/item/delete/' + t.id}"
                           class="btn btn-outline-danger btn-sm">Deletar
                        </a>
                    </td>

                    <!-- <td class="d-none d-lg-table-cell">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Apenas o adm pode remover essa Item do sistema">
                        <a href="" class="btn btn-outline-secondary btn-sm disabled">Deletar</a>
                    </span>
                    </td> -->

                    <!--modal para confirmação de exclusão-->
                    <div class="modal" th:id="modal-delete+${t.id }">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-danger">Confirmar Exclusão</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${'Tem certeza que desejar deletar este Item: &quot '+t.name+'&quot?'}"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <a th:href="${'/item/delete/' + t.id}">
                                        <span class="btn btn-danger">Deletar</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--fim do modal para confirmação de exclusão-->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer class="footer">
</footer>

<script src="js/main.js"></script>

</body>
</html>