<!DOCTYPE html>
<html lang="eng"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Perfil</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('profile')"></th:block> /*/-->
</header>

<main class="container">

    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Seu Perfil de Usuário</h1>

        <div class="card card-body">
            <div class="row">
			<table>
                <div class="col-sm-10">
                    <h2 class="my-second-header" th:text="'Nome: '+${user.name}"></h2>
                    <h2 class="my-second-header" th:text="'Email: '+${user.email}"></h2>
                    <h2 class="my-second-header" th:text="'Exp.: '+${user.experience}"></h2>
                    <h2 class="my-second-header" th:text="'Pontos: '+${user.points}"></h2>
                </div>
                <div class="col-6 col-sm-2">
                	<div>
                		<div>
                    		<a href="/user/uploadavatar" class="btn btn-primary">Atualizar seu Avatar!</a>
                    	</div>
                    </div>
                    <div class="card card-body mb-3 p-2">
                        <img th:src="${user.photo}" alt="user photo" class="embed-responsive embed-responsive-3by4">
                    </div>
            	</div>
			
			</table>
            <!-- Lista de Afinidades do Perfil Acessado -->
            <h2>Sua Lista de Afinidades</h2>
            <table class="my-tab table text-left">

                <thead class="table-primary">
                <tr>
                    <th style="width:20%">Nome</th>
                    <th style="width:60%" class="d-none d-sm-table-cell">Descrição</th>
                    <th style="width:20%">Experiencia na Afinidade</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="t : ${userAffinity}">

                    <td class="text-left" th:text="${t.affinity.name}"></td>
                    <td class="text-left d-none d-sm-table-cell" th:text="${t.affinity.description}"></td>
                    <td class="text-left d-none d-sm-table-cell" th:text="${t.experience}"></td>

				<!-- Se não tiver afinidade vinculada por executar atividades, será mostrado mensagem de exceção 

                 <tr th:if="${t.size()==0}">
                    <td colspan="5" th:text="${'Sem afinidades vinculadas ao '+ user.name}"></td>
                </tr> -->
                
                </tbody>
                
               
            </table>
			<hr class="my-4">
            <!-- Lista de Itens Comprados pelo Perfil Acessado -->
            <h2>Sua Lista de Itens Comprados</h2>
            <table class="my-tab table text-left">

                <thead class="table-primary">
                <tr>
                    <th style="width:20%">Nome do Item</th>
                    <th style="width:50%" class="d-none d-sm-table-cell">Descrição do Item</th>
                    <th style="width:10%">Ação</th>
                </tr>
                </thead>
                <tbody>
                 <tr th:each="t : ${userItems}">

                    <td class="text-left" th:text="${t.item.name}"></td>
                    <td class="text-left d-none d-sm-table-cell" th:text="${t.item.description}"></td>
				
					<!--botão Consumir ou Utilizar Item-->
	                <td   class="d-none d-lg-table-cell">
	                	<div th:if="${t.isUsed==false}">
	                		<a  th:href="${'/profile/consume/' + t.id}" class="btn btn-outline-warning btn-lg">Consumir</a>
	                	</div>
	                	<div th:if="${t.isUsed==true}">
	                		<p>Já Consumido</p>
	                	</div>
	                </td>
				
				
				
				<!-- Se não tiver afinidade vinculada por executar atividades, será mostrado mensagem de exceção
                <tr th:if="${user.affinity.size()==0}">
                    <td colspan="5" th:text="${'Sem afinidades encaminhadas para '+ user.name}"></td> -->
               <!--  </tr> -->
                
                
                
                </tbody> 

            </table>
			
			<!-- Lista de Atividades do Perfil Acessado -->
			<h2>Sua Lista de Atividades</h2>
            <table class="my-tab table text-left">

                <thead class="table-primary">
                <tr>
                    <th style="width:20%">Nome da Atividade</th>
                    <th style="width:50%" class="d-none d-sm-table-cell">Descrição da Atividade</th>
                    <th style="width:16%">Data</th>
                    <th style="width:7%">DF</th>
                    <th style="width:7%">Finalizado?</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="t : ${tasksOwned}">

                    <td class="text-left" th:text="${t.name}"></td>
                    <td class="text-left d-none d-sm-table-cell" th:text="${t.description}"></td>

                    <td th:text="${#temporals.format(t.date, 'dd-MM-yyyy')}"></td>

                    <!--Dias Faltando da Atividade-->
                    <td class="text-center col-1">
                        <!--/*/ <th:block th:include="fragments/days-left-until-deadline :: daysLeft(${t})"></th:block> /*/-->
                    </td>

                    <!--Atividade Completa ou Em progresso-->
                    <td>
                        <a th:href="${t.completed} ? ${'/profile/unmark-done/' + t.id} : ${'/profile/mark-done/' + t.id}"
                           th:class="${t.owner==null} ? 'disabled nav-link my-link' : 'nav-link my-link'"
                        ><i th:class="${t.completed} ? 'far fa-check-square my-check':'far fa-square my-check'"></i>
                        </a>
                    </td>

                </tr>

                <tr th:if="${user.tasksOwned.size()==0}">
                    <td colspan="5" th:text="${'Sem atividades encaminhadas para '+ user.name}"></td>
                </tr>
                
                </tbody>
           
            </table>
        </div>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

<!--permanecer na posição de rolagem após o redirecionamento-->
<script src="js/main.js"></script>

</body>
</html>