<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Lista de Atividades do Projeto</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('tasks-list')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Lista de Atividades
        	<!-- Mostrar ou Ocultar Atividades -->
            <span th:unless="${onlyInProgress}">
                <a href="/tasks/in-progress" class="btn btn-outline-info btn-lg float-right">Ocultar Concluidas!</a>
            </span>
            <span th:if="${onlyInProgress}">
                <a href="/assignment" class="btn btn-outline-info btn-lg float-right">Mostrar Todas!</a>
            </span>
            <!-- Fim para Mostrar ou Ocultar Atividades -->
           <span sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a href="/assignment" class="btn btn-outline-info btn-lg float-right">Designar Atividades</a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a th:href="${'/project/'+project.id+'/task/create/'}" class="btn btn-outline-info btn-lg float-right">Criar Nova Atividade</a>
            </span>
        </h1>
		
        <div class="card card-body">
            <table id="sortableTable" class="my-tab table table-hover text-center"
                   style="table-layout: fixed; width: 100%;">

                <thead class="table-primary">
                <tr>
                    <th style="width:25%" class="text-left">Nome da Atividade</th>
                    <th style="width:10%">Prazo Final</th>
                    <th style="width:20%" class="d-none d-lg-table-cell">Projeto</th>
                    <th style="width:10%">Finalizado?</th>
                    <th style="width:20%" class="d-none d-lg-table-cell">Responsável</th>
                    <th style="width:15%" class="d-none d-lg-table-cell" colspan="2">Ações</th>
                </tr>

                </thead>

                <tbody>

                <tr th:each="t : ${project.tasks}"
                    th:if="${!onlyInProgress or !t.completed}"
                    th:with="isThisOneSigned=${t.owner!=null ? t.owner.equals(signedUser) : false}"
                >
                    <!--Nome da tarefa e link de descrição-->
                    <td class="text-left">
                        <span>
                            <a data-toggle="modal" data-target="#modal-details"
                               th:attr="data-target='#modal-details'+${t.id}"
                               th:href="${'/task/' + t.id}"
                               class="nav-link my-link px-1 d-inline"
                               th:text="${t.name}+' '"
                            ></a>
                            <a data-toggle="modal" data-target="#modal-details"
                               th:attr="data-target='#modal-details'+${t.id}"
                               th:href="${'/task/' + t.id}"
                               class="btn-link d-inline"
                            >
                            <small class="badge badge-light">Detalhar!</small>
                            </a>

                        </span>
                    </td>

                    <!--modal com detalhes da atividade-->
                    <div class="modal" th:id="modal-details+${t.id}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 th:text="${t.name}" class="modal-title text-info"></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${'Descrição: '+t.description}"></p>
                                    <p th:text="${'Data: '+#temporals.format(t.date, 'dd-MM-yyyy')}"></p>
                                    <p th:if="${t.owner!=null}" th:text="${'Responsável: '+t.owner.getName()}"></p>
                                    <p th:text="${'Criador: '+t.creatorName}"></p>
                                    <!--Botão Editar-->
                                    <div th:if="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <a th:href="${'/task/edit/' + t.id}"
                                           class="btn btn-outline-success btn-sm">Editar</a>
                                    </div>

                                    <div th:unless="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                                                title="Apenas o Criador ou Admin pode alterar essa atividade">
                                            <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-secondary btn-sm disabled">Editar</a>
                                        </span>
                                    </div>
                                    <!--botão deletar-->
                                    <div th:if="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <a data-toggle="modal" data-target="#modal-delete"
                                           th:attr="data-target='#modal-delete'+${t.id}"
                                           th:href="${'/task/delete/' + t.id}"
                                           class="btn btn-outline-danger btn-sm">Deletar
                                        </a>
                                    </div>

                                    <div th:unless="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                                                title="Apenas o Criador ou Admin pode deletar essa atividade">
                                            <a href="" class="btn btn-outline-secondary btn-sm disabled">Deletar</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Voltar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal com detalhes da atividade-->

                    <!--Data-->
                    <td th:text="${#temporals.format(t.date, 'dd-MM-yyyy')}"
                        th:data-order="${t.date}"
                    ></td>

                    <!--Dias Faltando-->
                    <td class="text-center col-1 d-none d-lg-table-cell"
                        th:text="${t.project.name}">
                    </td> 

                    <!--Atividades finalizadas ou em andamento-->
                    <td th:data-order="${t.completed} ? 1 : 0"
                        th:if="${isAdminSigned or isThisOneSigned}">
                        <a th:href="${t.completed} ? ${'/task/unmark-done/' + t.id} : ${'/task/mark-done/' + t.id}"
                           th:class="${t.owner==null} ? 'disabled nav-link my-link' : 'nav-link my-link'"
                        ><i th:class="${t.completed} ? 'far fa-check-square my-check':'far fa-square my-check'"></i>
                        </a>
                    </td>

                    <td th:data-order="${t.completed} ? 1 : 0"
                        th:unless="${isAdminSigned or isThisOneSigned}">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Apenas o responsavel ou admin da atividade pode marcar-las como concluídas ou não">
                            <a th:href="${t.completed} ? ${'/task/unmark-done/' + t.id} : ${'/task/mark-done/' + t.id}"
                               class="disabled nav-link my-link"
                            ><i th:class="${t.completed} ? 'far fa-check-square my-check':'far fa-square my-check'"></i>
                            </a>
                        </span>
                    </td>

                    <!--responsavel da atividade-->
                    <td th:if="${t.owner!=null}" class="d-none d-lg-table-cell">
                        <div th:text="${t.owner.getName()}"></div>
                    </td>

                    <td class="text-center" th:unless="${t.owner!=null}">-</td>
                    
                    <!--botão editar-->
                    <td th:if="${isAdminSigned or isThisOneSigned}" class="d-none d-lg-table-cell">
                        <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-success btn-sm">Editar</a>
                    </td>

                    <td th:unless="${isAdminSigned or isThisOneSigned}" class="d-none d-lg-table-cell">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Apenas o colaborador responsavel ou administrador pode realizar alterações na atividade">
                        <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-secondary btn-sm disabled">Editar</a>
                        </span>
                    </td>

                    <!--botão deletar-->
                    <td th:if="${isAdminSigned or isThisOneSigned}" class="d-none d-lg-table-cell">
                        <a data-toggle="modal" data-target="#modal-delete"
                           th:attr="data-target='#modal-delete'+${t.id}"
                           th:href="${'/task/delete/' + t.id}"
                           class="btn btn-outline-danger btn-sm">Deletar
                        </a>
                    </td>

                    <td th:unless="${isAdminSigned or isThisOneSigned}" class="d-none d-lg-table-cell">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Only task owner or admin can delete this task">
                        <a href="" class="btn btn-outline-secondary btn-sm disabled">Deletar</a>
                    </span>
                    </td>

                    <!--modal para confirmação de exclusão-->
                    <div class="modal" th:id="modal-delete+${t.id }">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-danger">Confirmar Exclusão</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${'Tem certeza que desejar deletar a atividade: &quot '+t.name+'&quot?'}"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <a th:href="${'/task/delete/' + t.id}">
                                        <span class="btn btn-danger">Deletar</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--fim do modal para confirmação de exclusão-->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

<!--DataTable plug-in-->
<!--remain scroll position after redirect-->
<script src="js/main.js"></script>

</body>
</html>