<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Sucesso</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>

<main class="container">
    <div class="alert alert-dark">
        <div class="text-center"><h1 class="my-highest-header">Verifique Os Primeiros Lugares Do Ranking!!!! :)</h1></div>
    </div>
    	<br>
    	
    	<!--  Os Primeiros Usuários com as Maiores Experiências de Usuário do Sistema -->
		<div class="text-center"><h4>As Maiores Exeperiências De Usuário</h4></div>
        <table class="my-tab table text-left">

            <thead class="table-light">
                <tr>
                    <th style="width:34%">Nome do Participante</th>
                    <th style="width:33%">Email do Participante</th>
                    <th style="width:33%" class="d-none d-sm-table-cell">Experiência Total de Usuário</th>
                </tr>
            </thead>
            <tbody>
            	<tr th:each="u : ${usuariosExp}">
            		<td th:text="${u.name}" class="d-none d-lg-table-cell"></td>  
            		<td th:text="${u.email}" class="d-none d-lg-table-cell"></td>  
            		<td th:text="${u.experience}" class="d-none d-lg-table-cell"></td>  
            	</tr>
            </tbody>
        </table>
        
        
        <br>
        <!--  Os Primeiros Usuários com as Maiores Quantidades de Pontos do Sistema -->
		<div class="text-center"><h4>Os Usuários Com As Maiores Quantidades de Pontos Acumulados</h4></div>
        <table class="my-tab table text-left">

            <thead class="table-light">
                <tr>
                    <th style="width:34%">Nome do Participante</th>
                    <th style="width:33%">Email do Participante</th>
                    <th style="width:33%" class="d-none d-sm-table-cell">Total Pontos de Usuário</th>
                </tr>
            </thead>
            <tbody>
            	<tr th:each="u : ${usuariosPontos}">
            		<td th:text="${u.name}" class="d-none d-lg-table-cell"></td>  
            		<td th:text="${u.email}" class="d-none d-lg-table-cell"></td>  
            		<td th:text="${u.points}" class="d-none d-lg-table-cell"></td>  
            	</tr>
            </tbody>
        </table>
        
        <br>
        <div class="text-center"><h4>As Afinidades com as maiores pontuações de Experiências</h4></div>
		<div class="text-center"><h6>Serão considerados o total de experiencia acumulada considerando todos os usuários do sistema</h6></div>
        
        <form th:action="@{'/ranking'}" th:object="${affinityOrder}" method="get">
    		<div class="row">
    			<div class="col-md-9">
		    		<div class="form-group">
		               	<select class="form-control" th:field="*{affinity}" id="affinity">
	                    	<option 
	                    		th:each="i : ${affinitys}" 
	                    		th:value="${i.id}" 
	                    		th:text="${i.name}"
	                    		th:selected="${i.id==affinityOrder.affinity.id}">
	                    	</option>
	                    </select>
		            </div>
	            </div>
		    	<div class="col-md-3">
		    		<button type="submit" class="btn btn-success">atualizar</button>
		    	</div>
	    	</div>
    	</form>
        <!--  As Afinidades com As Maiores Experiências do Jogo -->
		<table class="my-tab table text-left">

            <thead class="table-light">
                <tr>
                    <th style="width:34%">Nome do Participante</th>
                    <th style="width:33%">Email do Participante</th>
                    <th style="width:33%" class="d-none d-sm-table-cell">Experiência Total de Usuário</th>
                </tr>
            </thead>
            <tbody>
            	<tr th:each="u : ${usuariosAfinidade}">
            		<td th:text="${u.user.name}" class="d-none d-lg-table-cell"></td>  
            		<td th:text="${u.user.email}" class="d-none d-lg-table-cell"></td>  
            		<td th:text="${u.experience}" class="d-none d-lg-table-cell"></td>  
            	</tr>
            </tbody>
        </table>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>