<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Lista de Usuários</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('users-list')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Lista de Usuários
        	<span sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/register" class="btn btn-outline-info btn-lg float-right">Novo Usuário</a>
            </span>
        
        </h1>

        <div class="card card-body">
            <table class="table table-hover text-left">

                <thead class="table-info">
                <tr>
                    <th>Nome</th>
                    <th class="d-none d-lg-table-cell">Email</th>
                    <th>Atividades em Andamento</th>
                    <th class="d-none d-md-table-cell">Atividades Concluidas</th>
                    <th th:if="${isAdminSigned}" colspan="2">Ações</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user:${users}">

                    <!--Foto e Nome-->
                    <td>
                        <img th:src="${user.photo}" alt="user photo"
                             class="embed-responsive embed-responsive-3by4 d-inline my-photo-miniature"/>
                        <div th:text="${user.name}" class=" d-inline ml-1"></div>
                    </td>

                    <!--Email-->
                    <td th:text="${user.email}" class="d-none d-lg-table-cell"></td>

                    <!--Atividades em Progresso-->
                    <td th:if="${user.getTasksInProgress().size() gt 0}">
                        <ol class="pl-3">
                            <li th:each="t : ${user.getTasksInProgress()}">
                                <span th:text="${user.name}"></span>
                                <!--/*/ <th:block th:include="fragments/days-left-until-deadline :: daysLeft(${t})"></th:block> /*/-->
                            </li>
                        </ol>
                    </td>
                    <td th:if="${user.getTasksInProgress().size()==0}">0</td>

                    <!--Atividades Completadas-->
                    <td th:if="${user.getTasksCompleted().size() gt 0}" class="d-none d-md-table-cell">
                        <ol class="pl-3">
                            <li th:each="t : ${user.getTasksCompleted()}">
                                <span th:text="${user.name}"></span>
                            </li>
                        </ol>
                    </td>
                    <td th:if="${user.getTasksCompleted().size()==0}" class="d-none d-md-table-cell">0</td>
                    
                    <!--botão editar-->
                    <td th:if="${isAdminSigned}" class="d-none d-lg-table-cell">
                        <a th:href="${'/user/edit/' + user.id}" class="btn btn-outline-success btn-sm">Editar</a>
                    </td>

                    <td th:unless="${isAdminSigned}" class="d-none d-lg-table-cell">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Apenas o Administrador pode atualizar os dados dos colaboradores">
                        <a th:href="${'/user/edit/' + user.id}" class="btn btn-outline-secondary btn-sm disabled">Editar</a>
                        </span>
                    </td>

                    <!--Botão Deletar-->
                    <td th:if="${isAdminSigned and !user.isAdmin()}">
                        <a data-toggle="modal" data-target="#modal-soft-delete"
                           th:attr="data-target='#modal-soft-delete'+${user.id}"
                           th:href="${'user/delete/' + user.id}"
                           class="btn btn-outline-danger btn-sm">Deletar
                        </a>
                    </td>
                    <td th:if="${isAdminSigned and user.isAdmin()}"></td>

                    <!--modal para confirmação de exclusão-->
                    <div class="modal" th:id="modal-soft-delete+${user.id }">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-danger">Confirmação de Exclusão</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${'Tem certeza que deseja excluir este usuário: &nbsp&nbsp'+user.name+'?'}"></p>
                                    <small>Após esta ação, o usuário será excluido e suas atividades ficarão sem responsável!! </small>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <a th:href="${'/user/delete/' + user.id}">
                                        <span class="btn btn-danger">Deletar</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--fim do modal para confirmação de exclusão-->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

<!--permanecer na posição de rolagem após o redirecionamento-->
<script src="js/main.js"></script>

</body>
</html>