<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Gerenciamento de Atividades</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Projeto de Gamificação</h1>
    <p class="lead">Projeto de Gamificação junto a controle de atividades</p>

    <hr class="my-4">
    <p>Paragrafo sobre uso da plataforma!!</p>

    <p>Administrador (Manager) pode:</p>
    <ul>
        <li>Adicionar</li>

    </ul>
    
    <p>Usuários Comuns!!</p>
    <ul>
        <li>Adicionar</li>
    </ul>

    <h2 class="my-second-header">Usuarios Testes:</h2>
    <ul>
        <li>login: manager@mail.com, senha: 112233</li>

    </ul>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>