<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Gerenciamento de Atividades</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Projeto de Gamificação</h1>
    <p class="lead">Olá, nesse contato inicial estaremos apresentando algumas informações e regras de como você poderá ser utilizar e interagir com o sistema. Vamos lá!</p>

    <hr class="my-4">
    <p>O sistema é um simples gerenciamento de atividades de pequeno porte, que lhe permitirá cadastrar Usuários que serão seus Colaboradores, cadastrar projetos que conterão todas as atividades relacionadas à um propósito em especifico e também poder encaminhar atividades para que algum dos Colaboradores fiquem como responsável.</p>
	
	<p>Como uma parte importante também para proposta e apresentação deste projeto, foram criados alguns simples mecanismos de gamificação no sistema, que quando acessado com perfil de Game Master, você podera efetuar o cadastro de Afinidades e Itens da Loja. De um modo mais direto explicando:</p>
	<ul>
		<li><strong>AFINIDADE:</strong> São seus atributos que serão aumentados conforme coletando 'experiência' ao completar atividades. Quando mais atividades maior será sua afinidade;</li>
		<li><strong>ITENS DA LOJA:</strong> Recursos que exigem um custo para serem obtidos com a troca de pontos, mas que poderão lhe conceder alguma especie de beneficio; </li>
	</ul>
	<p>Para ter uma impressão de como interagir, você pode utilizar os três usuários que serão padrões para acesso, sendo eles: Administrador/Gerente de Projetos, Colaborador e o Game Master.</p>
    
    <hr class="my-4">
    <h2 class="my-second-header">Usuarios Testes - Login e Senha de Acesso:</h2>
    <ul>
        <li>login: manager@mail.com, senha: 112233</li>
		<li>login: user@mail.com, senha: 112233</li>
		<li>login: gamemaster@mail.com, senha: 112233</li>
    </ul>
    
    <hr class="my-4">
    <h2 class="my-second-header">Mecânicas do "Framework Octalysis" utilizadas:</h2>
    <p>As mecânicas de gamificação utilizada para criação do prototipo, foram feitos com objetivo de tentar adicionar esses elementos com base nos resultados iniciais do projeto, no qual em sua maioria foram apresentandos com perfil Exploradores, Conquistadores e Predadores, como também uma tendência à aderir ou agir de forma mais individual.</p>
    <ul>
        <li><strong>Merenda:</strong> Ações diretas pelas quais o jogador pode obter uma recompensa, como coletar pontos;</li>
		<li><strong>Pontos de status:</strong> Os Pontos de Status servem para manter a pontuação do progresso;</li>
		<li><strong>Tabelas de classificação:</strong> Placares são elementos de um jogo onde você classifica os usuários com base em um conjunto de critérios que são influenciados pelos comportamentos dos usuários em relação às Ações Desejadas;</li>
		<li><strong>Pontos Trocáveis:</strong> Existem pontos que só podem ser resgatados na economia do jogo por objetos de valor, ou pontos que podem ser trocados com outros jogadores no mesmo sistema ou fora do jogo;</li>
		<li><strong>Bens ou Moedas Virtuais:</strong> Elementos em um jogo que reforçam o senso de propriedade do jogador por meio de sua acumulação;</li>
		<li><strong>Tutoria:</strong> Esta técnica é útil para novos jogadores que estão iniciando;</li>
		<li><strong>Recompensas Aleatórias:</strong> Você pode criar imprevisibilidade na experiência alterando o contexto de como a recompensa é dada ou alterando a natureza da própria recompensa.</li>
    </ul>
    
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>