<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Gerenciamento de Atividades</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Projeto de Gamificação</h1>
    <p class="lead">Olá, nesse contato inicial estaremos apresentando algumas informações e regras de como você poderá ser utilizar e interagir com o sistema. Vamos lá!</p>

    <hr class="my-4">
    <p>O sistema é um simples gerenciamento de atividades de pequeno porte, que lhe permitirá cadastrar Usuários que serão seus Colaboradores, cadastrar projetos que conterão todas as atividades relacionadas à um propósito em especifico e também poder encaminhar atividades para que algum dos Colaboradores fique como responsável.</p>
	
	<p>Como parte importante também para proposta e apresentação deste projeto, foram criados alguns simples mecanismos de gamificação no sistema, que quando acesso com perfil de game master, você podera efetuar o cadastro de Afinidades e Itens da Loja. De um modo mais direto explicando:</p>
	<ul>
		<li>AFINIDADE: São seus atributos que serão aumentados conforme coletando 'experiência' ao completar atividades. Quando mais atividades maior será sua afinidade;</li>
		<li> ITENS DA LOJA: Recursos que exigem um custo para serem obtidos com a troca de pontos, mas que poderão lhe conceder alguma especie de beneficio; </li>
	</ul>
	<p>Para ter uma impressão de como interagir, você pode utilizar os três usuários que serão padrões para acesso, sendo eles: Administrador/Gerente de Projetos, Usuário Colaborador e o Game Master.</p>

    <p>Como Usuário Administrador ou Gerente de Projetos (Manager), você vai poder:</p>
    <ul>
        <li>Poderá Criar, Editar ou Deletar Projetos. DICA: Se tiver atividades, não é possivel remover o projeto;</li>
		<li>Poderá Criar, Editar ou Deletar Atividades dentro de um Projeto;</li>
		<li>Poderá Encaminhar atividades para demais colaboradores cadastrados no sistema;</li>
		<li>ADICIONAR RESTANTE;</li>
    </ul>
    
    <p>Como Usuário Colaborador, você vai poder:</p>
    <ul>
        <li>Adicionar uma imagem de Perfil (Avatar);</li>
        <li>Poder realizar uma atividade e uma vez concluida, poder adquirir pontos e experiencia;</li>
        <li>ADICIONAR RESTANTE;</li>
    </ul>
    
    <p>Como Usuário GameMaster, você vai poder:</p>
    <ul>
        <li>Poderá Criar, Editar ou Deletar Afinidades;</li>
        <li>Poderá Criar, Editar ou Deletar Itens da Loja;</li>
        <li>ADICIONAR RESTANTE;</li>
    </ul>

    <h2 class="my-second-header">Usuarios Testes - Login e Senha de Acesso:</h2>
    <ul>
        <li>login: manager@mail.com, senha: 112233</li>
		<li>login: user@mail.com, senha: 112233</li>
		<li>login: gamemaster@mail.com, senha: 112233</li>
    </ul>
    
    <p>OBSERVAÇÃO: As mecânicas de gamificação utilizada para criação do prototipo, foram feitos com objetivo de tentar adicionar esses elementos com base nos resultados iniciais do projeto, no qual em sua maioria foram apresentandos com perfil Exploradores, Conquistadores e Predadores, como também uma tendência à aderir ou agir de forma mais individual.</p>
    
    <h2 class="my-second-header">Mecânicas do "Framework Octalysis" utilizadas:</h2>
    <ul>
        <li>Merenda;</li>
		<li>Pontos de status;</li>
		<li>Tabelas de classificação;</li>
		<li>Pontos trocáveis;</li>
		<li>Bens ou moedas virtuais;</li>
		<li>Tutoria;</li>
		<li>Oportunidades Evanescentes.</li>
    </ul>
    
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>